* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  #app{
    max-width: 460px;
    margin: auto;
  }
  
  header {
    display: flex;
    gap: 24px;
  }
  
  nav {
    padding: 8px;
    display: flex;
    gap: 8px;
  }
  .youtube {
    margin-right: auto;
  }
  nav button:hover,
  .active{
    background-color: black;
    color: white;
  }
  
  nav button {
    border: 0;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 10px;
  
    flex-grow: 0;
    flex-shrink: 0;
  }
  main {
    padding-inline: 0 12px;
  }
  
  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  
  .info-canal {
    display: flex;
    padding: 12px;
  
    gap: 12px;
  }
  
  .filme {
    aspect-ratio: 1/1;
    width: 32px;
    border-radius: 50%;
  }
  .title-canal-info {
    display: grid;
  }
  
  .title-canal-info h6 {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
  
  .title-canal-info p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
  }
  
  footer{
    max-width: 460px;
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: space-evenly;
    gap: 24px;
    background: white;
    display: flex;
    align-items: center;
    padding: 8px
  }
  
  footer div ion-icon {
    font-size: 20px;
  }
  
  footer div {
    display: grid;
    width: 40px;
    justify-items: center;
  }
  
  footer div span{
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  footer img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
  }
  header ion-icon {
    font-size: 24px;
  }
  